{% extends 'tienda/layout.html' %}

{% block body %}

<p>Resultado de búsqueda: </p>

<hr>
<div class="row">
    {% for p in producto %}
    
    <div class="card text-end" style="width: 18rem;">
    
        <h5 class="card-title">{{p.titulo}}</h5>
        <img src=" {{ media_url  }}{{ p.imagen.url }}" class="card-img-top" alt="...">
        <p class="card-text">
    
            {{p.descripcion}}
        </p>
        <a href="{% url 'tienda:producto' p.id %}  " class="btn btn-primary">ver más</a>
        {{p.id}}
    
    </div>
    {% endfor %}
    
</div>


{% endblock body %}
