{% extends 'tienda/layout.html' %}

{% load static %}
{% block body %}







<h2>últimos </h2>
<div class="container">
    
        <div class="row justify-content-md-around">
            {% for producto in nuevos  %}
                <div class="col-sm">
                    <div class="card text-end" style="width: 18rem;">
                        <div class="card-body">
                            <img src=" {{ media_url  }}{{ producto.imagen.url }}" class="card-img-top" alt="...">
                            <h5 class="card-title">{{producto.titulo}}</h5>
                            <p class="card-text">{{producto.descripcion |  slice:'0:50'}}...</p>
                            <p class="card-text"> ${{producto.precio}} </p>
                            
                            <a href="{% url 'tienda:producto' producto.id %}  " class="btn btn-primary">ver más</a>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
    <hr>
</div>


<div class="container">
<h2 class="text-center">Más productos</h2>
<hr>
<table class="table table-hover table-responsive-md">
    {% for producto in productos  %}
        <tr>
            <th scope="col " class="col-sm-1"> <img src=" {{ media_url  }}{{ producto.imagen.url }}" style="max-width: 100%;" alt= {{producto.titulo}}>  </th>
            <th scope="col"> {{producto.titulo}} </th>
            <th scope="col">{{producto.descripcion |slice:"0:50"}}... </th>
            <th scope="col">${{producto.precio}} </th>
            <th scope="col"><a href="{% url 'tienda:producto' producto.id %}  " class="btn btn-primary">ver más</a> </th>
            
        </tr>
      {% endfor %}

</table>

</div>






   

       

{% endblock body %}

