{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>JAGUARETE KAA S.A</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #eedd80;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'tienda:home' %}">JAGUARETE KAA S.A</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'tienda:home' %} ">Home</a>
                    </li>
                    {% if perms.TIENDA.add_producto%}
                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'tienda:agregar' %}">Agregar productos</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categorias
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            {% for cat in categoria %}
                            <li><a class="dropdown-item" href="{% url 'tienda:categorias' cat.id %} ">{{cat}}</a></li>
                            {% endfor %}

                        </ul>



                    </li>

                </ul>

                <div class="dropdown">
                    {% if user.is_authenticated %}
                    Bienvenido!
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.username}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item btn btn-warning" href="{% url 'logout' %} ">Salir  </a></li>

                    </ul>
                    {% else %}
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-outline-success" type="button"><a
                                href=" {% url 'login' %} ">Ingresar</a></button>
                        <button class="btn btn-outline-info" type="button"><a
                                href=" {% url 'USUARIOS:registrarse' %} ">Registrar</a></button>
                    </div>


                    {% endif%}
                </div>

                &NonBreakingSpace;
                <form action="{% url 'tienda:buscar' %}" method="get">

                    <input name="buscar" type="text" placeholder="buscar...">
                    <button type="submit" class="btn btn-outline-info">Buscar</button>
                </form>
                &NonBreakingSpace;
                <div class="circulo" style="border-radius: 25%; background-color:rgb(236, 240, 24); max-width: 55px">  {{cantidad_productos}}  
                    <img src="https://image.flaticon.com/icons/png/512/419/419910.png" style="max-width: 75%;" alt="" srcset="">
                     </div>
               <a href=" {% url 'tienda:checkout' %} " class="btn btn-warning">Carrito </a>

            &NonBreakingSpace;




        </div>
        </div>
    </nav>





    <div class="container">

        {% block body %}

        {% endblock body %}
    </div>

    <div class="container">

        {% block content %}

        {% endblock content %}
    </div>


</body>

</html>